.item {
  position: relative;
}

.name {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.07em;
  padding-top: 10px;
}

.red,
.green {
  font-size: 14px;
  letter-spacing: 0.07em;
}

.red {
  color: red;
}

.green {
  color: green;
}
