.title {
  font-weight: 550;
  font-size: 20px;
}

.list {
  width: 600px;
  padding-left: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item {
  padding: 15px 8px;
  border: 2.4px solid black;
  border-radius: 5px;
}
